.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        background: #FFFFFF;
        height: 54px;
        border-radius: 5px;
        border: none;
        margin-bottom: 15px;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 300px;
        color: #4b4b4b;
        &:nth-child(3) {
            margin-bottom: 20px;
        }
        

    }
    &_mt25 {
        margin-top: 25px;
    }
}

