.advantages {
    padding: 73px 0 83px 0;
    background-color: #f6f6f6;
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #0D0D0D;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
        
         }
        
    
    &__subtitle {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
        
    }
    &__descr {
        margin-top: 26px;
        color: #0D0D0D;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
    &__icon {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}
   






























